{% extends '../base.html' %}
{% block content %}
{% load static %}

<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
    <!-- Navbar include start -->
        {% include '../navbar.html' %}
    <!-- Navbar include end -->

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Top Restaurants</h1>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

{% for restaurant in restaurants %} 
    {% if forloop.counter|divisibleby:2 %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
                    <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>{{restaurant.name}}</h1>
                    <p class="mb-4">{{restaurant.desc}}</p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0 date" data-toggle="counter-up"><span
                                        class="year-difference">{{ restaurant.start_date|date:"Y" }}</span></h1>
                                <div class="ps-4">
                                    <p class="mb-0">Years of</p>
                                    <h6 class="text-uppercase mb-0">Experience</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">
                                    {{restaurant.no_of_chefs}}</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Popular</p>
                                    <h6 class="text-uppercase mb-0">Master Chefs</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="/foodprovider/restaurant_info/{{restaurant.id}}">View Restaurant</a>
                </div>
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded h-100 w-100 wow zoomIn" data-wow-delay="0.1s"
                                src="{{restaurant.img1.url}}">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                                src="{{restaurant.img2.url}}" style="margin-top: 25%;">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                                src="{{restaurant.img3.url}}">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s"
                                src="{{restaurant.img4.url}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded h-100 w-100 wow zoomIn" data-wow-delay="0.1s"
                                src="{{restaurant.img1.url}}">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                                src="{{restaurant.img2.url}}" style="margin-top: 25%;">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                                src="{{restaurant.img3.url}}">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s"
                                src="{{restaurant.img4.url}}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
                    <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>{{restaurant.name}}</h1>
                    <p class="mb-4">{{restaurant.desc}}</p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0 date" data-toggle="counter-up"><span
                                        class="year-difference">{{ restaurant.start_date|date:"Y" }}</span></h1>
                                <div class="ps-4">
                                    <p class="mb-0">Years of</p>
                                    <h6 class="text-uppercase mb-0">Experience</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">
                                    {{restaurant.no_of_chefs}}</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Popular</p>
                                    <h6 class="text-uppercase mb-0">Master Chefs</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="/foodprovider/restaurant_info/{{restaurant.id}}">View Restaurant</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}

<!-- Calculating the year differences -->
<script>
    // JavaScript code to calculate and display the year difference
    document.addEventListener("DOMContentLoaded", function () {
        // Get all the elements with class "year-difference"
        const yearDifferenceElements = document.querySelectorAll('.year-difference');

        // Loop through each element and calculate the year difference
        yearDifferenceElements.forEach(function (element) {
            const year = parseInt(element.textContent);
            const currentYear = new Date().getFullYear();
            const yearDifference = currentYear - year;

            // Update the content of the element with the year difference
            element.textContent = yearDifference;
        });
    });
</script> 
{% endblock content %} 