<!-- {% extends '../base.html' %}
{% block content %}

<div class="container-xxl position-relative p-0">
        {% include '../navbar.html' %}

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">View Menu</h1>
            <p class="text-white mb-3 animated slideInDown">Welcome {{request.user}}</p>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="/foodprovider/dashboard/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/foodprovider/addRestaurant/">Add Restaurant</a></li>
                    <li class="breadcrumb-item"><a href="/foodprovider/addMenu/">Add Menu</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Menu Name</th>
            <th scope="col">Menu Type</th>
            <th scope="col">Menu Price</th>
            <th scope="col">All Menus Actions</th>
          </tr>
        </thead>
        
        {% for menu_item in all_menus %}
            <tbody>
                <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{menu_item.name}}</td>
                <td>{{menu_item.type}}</td>
                <td>{{menu_item.price}}</td>
                <td>
                    <a href="/foodprovider/editMenu/{{menu_item.id}}" class="btn btn-primary">Edit</a>
                    <a href="/foodprovider/deleteMenu/{{menu_item.id}}" class="btn btn-danger" 
                        onclick="return confirm('Are you sure? You are deleting your added menu item.')">Delete</a>
                </td>
                </tr>
            </tbody>
        {% endfor %}

    </table>
</div>

{% endblock content %} -->