{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container-xxl bg-white p-0">
    <!-- Hero Start -->
    <div class="container-xxl position-relative p-0">
        <!-- Navbar include start -->
            {% include 'navbar.html' %}
        <!-- Navbar include end -->

        <div class="container-xxl py-5 bg-dark hero-header mb-5">
            <div class="container my-5 py-5">
                <div class="row align-items-center g-5">
                    <div class="col-lg-6 text-center text-lg-start">
                        <h1 class="display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Meal</h1>
                        <p class="text-white animated slideInLeft mb-4 pb-2">Tempor erat elitr rebum at clita. Diam
                            dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed
                            stet lorem sit clita duo justo magna dolore erat amet</p>
                        <a href="/foodprovider/restaurant/" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Restaurants</a>
                    </div>
                    <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/hero.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Foods start -->
    <div class="container-xxl py-5" id="food">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Services</h5>
                <h1 class="mb-5">Explore Our Services</h1>

                <!-- Search bar start -->
                <form method="get">
                    <div class="custom-search-bar">
                        <input class="form-control rounded-pill bg-dark text-white" type="text" name="search-food-restaurant" placeholder="Search foods & restaurants...">
                    </div>
                </form>
                <!-- Search bar end -->

            </div>
            <div class="row g-4 mt-2">
                {% for menu in page_obj.object_list %}
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="{{menu.img1.url}}" style="height: 200px; margin-top: -15px;">
                                <h5 class="mt-2">{{menu.name}}</h5>
                                <p>{{menu.restaurant}}</p>
                                <p>₹{{menu.price}}</p>
                                <p class="text" style="display: block; width: 250px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{menu.description}}</p>

                                <!-- <a href="/bag/add-to-bag/{{menu.id}}" class="btn btn-danger">Add to bag</a> -->
                                <a href="/foodprovider/restaurant_info/{{menu.restaurant.id}}" class="btn btn-danger">Go &#8594;</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagination mt-4">
                {% if page_obj.has_previous %}
                    <a href="?page={{page_obj.previous_page_number}}" class="btn btn-primary">Previous</a>
                {% endif %}
                <!-- <span>{{page_obj.number}}</span> -->
                {% if page_obj.has_next %}
                    <a href="?page={{page_obj.next_page_number}}" class="btn btn-primary">Next</a>
                {% endif %}
            </div>            
        </div>
    </div>
    <!-- Foods end -->

    <!-- Calculating the year differences -->
    <script>
        // JavaScript code to calculate and display the year difference
        document.addEventListener("DOMContentLoaded", function () {
            // Get all the elements with class "year-difference"
            const yearDifferenceElements = document.querySelectorAll('.year-difference');

            // Loop through each element and calculate the year difference
            yearDifferenceElements.forEach(function (element) {
                const year = parseInt(element.textContent);
                const currentYear = new Date().getFullYear();
                const yearDifference = currentYear - year;

                // Update the content of the element with the year difference
                element.textContent = yearDifference;
            });
        });
    </script>
</div>

{% endblock content %}